$fontPrimary: 'Roboto';
$fontSecondary: 'Arial';
$fontSize: 15px;
$fontColor: black;
$headingColor: gray;
$bgColor: white;

@mixin divStyle {
  border: solid gray 1px;
  padding: 15px;
  margin: 10px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  // display: flex;
  // flex-direction: column;
}

@mixin componentContainer{
  display: flex;
  // margin: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  // justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: $fontSize;
  font-family: $fontPrimary;
  color: $fontColor;
  font-family: $fontPrimary;
}
.container {
  display: flex;
  // flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  width: fit-content;
  // flex-wrap: wrap;
}
.navContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 20px;
  padding-bottom: 20px;
  // width: 550px;

  //  margin-left: 20px;
}
.btn {
  @include divStyle();
  border: solid gray 0px;

}
.general {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
  justify-content: flex-start;
}
.heading {
  padding-top: 8px;
  // padding-bottom: 2px;
  color: $headingColor;
}

ul {
  text-decoration: none;
  list-style: none;

  // color: red;
}

li {
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
  background-color: #e6f4ff;
  color: #1677ff;
  text-decoration: none;
}
.li :hover {
  color: rgb(51, 141, 237);
}
.btnExample1,
.btnExample2,
.btnExample3,
.btnExample4,
.btnExample5,
.btnExample6,
.btnExample7,
.btnExample8,
.btnExample9 {
  @include divStyle();
}

.iconExample1,
.iconExample2,
.iconExample3 {
  @include divStyle();
}

.typoContainer {
  display: flex;
  flex-wrap: wrap;
}

.para-graph {
  width: 300px;
  text-align: center;
}
.slider {
  width: 800px;
  text-align: center;
  font-family: $fontSecondary;
  // font-size: $fontSize
}
.typographyExample1,
.typographyExample2,
.typographyExample3,
.typographyExample4 {
  @include divStyle();
  height: 300px !important;

  overflow-y: scroll;
}

.layout {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
  justify-content: flex-start;
}
.dividerDiv {
  display: grid;
  // flex-direction: column;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  padding-bottom: 20px;
}
.dividerExample1,
.dividerExample2,
.dividerExample3 {
  @include divStyle();
  height: 300px;
  overflow-y: auto;
}

// .gridDiv{
//   display: flex;
//   flex-wrap: wrap
// }

.gridExample1,
.gridExample2,
.gridExample3,
.gridExample4,
.gridExample5,
.gridExample6 {
  @include divStyle();
  // width: fit-content !important;
  text-align: center;
}
.bg-blue {
  background-color: #1677ff;
  margin: 12px;
  padding: 10px;
  width: 1000px;
  // justify-content: center;
  text-align: center;
  // color: white;
}
.bg-blue1 {
  background-color: #629ff4;
  margin: 12px;
  padding: 10px;
  width: 1000px;
  // justify-content: center;
  text-align: center;
  // color: white;
}

.bg-green {
  background-color: green;
  margin: 12px;
  padding: 10px;
  // width: 500px;
}
.bg-green1 {
  background-color: rgb(134, 227, 134);
  margin: 12px;
  padding: 10px;
  // width: 500px;
}
.layout-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  // padding: 20px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.space-container {
  @include componentContainer()

}
.spaceExample1,
.spaceExample2,
.spaceExample3,
.spaceExample4,
.spaceExample5,
.spaceExample6,
.spaceExample7,
.spaceExample8,
.spaceExample9 {
  @include divStyle();
  height: 300px !important;
  overflow-y: auto;
}
.spaceExample6 {
  height: fit-content !important;
}

.spaceExample2 {
  width: 450px !important;
  // height: ;
}
.spaceExample7,
.spaceExample8,
.spaceExample9 {
  height: fit-content !important;
}

.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #40a9ff;
}
.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

.anchorDiv {
  display: flex;
  // flex-direction: column;
  margin: 20px;
  flex-wrap: wrap;
}

.anchorExample1,
.anchorExample2,
.anchorExample3 {
  @include divStyle();
}

.anchorExample1 {
  height: 400px !important;
  width: 300px !important;
  padding-bottom: 20px;
  overflow-y: auto;
}

.anchorExample2 {
  height: 400px !important;
  overflow-y: auto;
}

.anchorExample3 {
  width: 400px !important;
  height: 200px !important;
}

.breadCrumbContainer{
  display: flex;
  // flex-direction: column;
  margin: 20px;
  flex-wrap: wrap;
}

.breadcrumbExample1,
.breadCrumbExample2,
.breadCrumbExample3,
.breadCrumbExample4{
  @include divStyle()
}

// .breadcrumbExample1{
//   width: 100vw !important;
// }

.dropdownContainer{
 @include componentContainer()
}

.dropdownExample1,
.dropdownExample2,
.dropdownExample3,
.dropdownExample4,
.dropdownExample5{
  @include divStyle()
}

.dropdownExample2{
  height: 300px !important;
  // width: 200px !important;
  display: flex;
}

.menuContainer{
@include componentContainer()
}

.menuExample1,
.menuExample2,
.menuExample3,
.menuExample4,
.menuExample5{
  @include divStyle();
  height:300px !important;
  overflow-y: auto;
}

.menuExample2{
  width: 500px;
}

.paginationContainer{
  @include componentContainer()
}

.paginationExample1,
.paginationExample2,
.paginationExample3{
  @include divStyle();
}

.paginationExample1{
  display: flex;
}

.stepsContainer{
  display: flex;
  // flex-direction: column;
  margin: 20px;
  flex-wrap: wrap;
}
.stepsExample1,
.stepsExample2,
.stepsExample3,
.stepsExample4{
  @include divStyle()
}

.autoCompleteContainer{
  display: flex;
  // flex-direction: column;
  margin: 20px;
  flex-wrap: wrap;
}

.autoCompleteExample1,
.autoCompleteExample2,
.autoCOmpleteExample3{
  @include divStyle()
}

.cascaderContainer{
  @include componentContainer()
}

.cascaderExample1,
.cascaderExample2,
.cascaderExample3,
.cascaderExample4,
.cascaderExample5{
  @include divStyle()
}

.cascaderExample3{
  width: 300px !important;
}

.checkBoxContainer{
  @include componentContainer()
}

.checkBoxExample1,
.checkBoxExample2,
.checkBoxExample3,
.checkBoxExample4,
.checkBoxExample5{
  @include divStyle()
}

.datePickerContainer{
  // @include componentContainer()

  display: flex;
  justify-content: flex-start;
  // flex-direction: column;
  // padding-right: 20px;
  flex-wrap: wrap;

}

.dataPickerExample1,
.datePickerExample2,
.datePickerExample3,
.datePickerExample4,
.datePickerExample5{
  @include divStyle()
}

.inputContainer{
  @include componentContainer()
}

.inputExample1,
.inputExample2,
.inputExample3,
.inputExample4,
.inputExample5,
.inputExample6{
  @include divStyle()
}

.mentionsContainer{
  @include componentContainer()
}

.mentionsExample1,
.mentionsExample2,
.mentionsExample3,
.mentionsExample4,
.mentionsExample5{
  @include divStyle()
}

.mentionsExample3{
  height: 200px !important;
  // hei: 200px;
}

.radioContainer{
  @include componentContainer();
}

.radioExample1,
.radioExample2,
.radioExample3,
.radioExample4,
.radioExample5,
.radioExample6,
.radioExample7{
  @include divStyle()
}

.radioExample4,
.radioExample7{
  width: 400px !important;
}

.rateContainer{
  @include componentContainer()
}

.rateExample1,
.rateExample2,
.rateExample3{
  @include divStyle()
}

.selectContainer{
  @include componentContainer()
}

.selectExample1,
.selectExample2,
.selectExample3,
.selectExample4,
.selectExample5,
.selectExample6,
.selectExample7{
  @include divStyle()
}

.selectExample6{
  width: 200px;
}

.sliderContainer{
  @include componentContainer()
}

.sliderExample1,
.sliderExample2,
.sliderExample3,
.sliderExample4,
.sliderExample5{
  @include divStyle()
}

.sliderExample1,
.sliderExample2,
.sliderExample3,
.sliderExample5,
.sliderExample4{
  width: 300px;
}

.sliderExample4{
  width: 400px !important;
}

.switchContainer{
  @include componentContainer()
}

.switchExample1,
.switchExample2,
.switchExample3,
.switchExample4,
.switchExample5{
  @include divStyle()
}

.switchExample1{
  width: 200px;
}
.switchExample3{
  height: 100px;
  width: 100px;
}

.uploadContainer{
  @include componentContainer()
}

.uploadExample1,
.uploadExample2,
.uploadExample3,
.uploadExample4{
  @include divStyle()
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-inline-end: 8px;
}

.ant-upload-rtl.upload-list-inline .ant-upload-list-item {
  float: right;
}

.avatarContainer{
  @include componentContainer()
}

.avatarExample1,
.avatarExample2,
.avatarExample3,
.avatarExample4,
.avatarExample5{
  @include divStyle()
}

.badgeContainer{
  // @include componentContainer()
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.badgeExample1,
.badgeExample2,
.badgeExample3,
.badgeExample4,
.badgeExample5,
.badgeExample6,
.badgeExample7,
.badgeExample8{
  @include divStyle()
}

.badgeExample2{
  width: 300px;
}

.badgeExample5{
  width: 300px;
  height: 400px;
  overflow-y: auto;
}

.calenderContainer{
  @include componentContainer()
}

.calenderExample1,
.calenderExample2,
.calenderExample3{
  @include divStyle();
  width: 900px !important;
}
.calenderExample2{
   width: fit-content !important;
}

.cardContainer{
  @include componentContainer()
}

.cardExample1,
.cardExample2,
.cardExample3,
.cardExample4,
.cardExample5,
.cardExample6,
.cardExample7{
  @include divStyle();
}
.cardExample2{
     background: rgb(207, 207, 207);
}

.collapseContainer{
  @include componentContainer()
}

.collapseExample1,
.collapseExample2,
.collapseExample3,
.collapseExample4,
.collapseExample5{
  @include divStyle();
  width:400px !important;
}

.emptyContainer{
  @include componentContainer()
}

.emptyExample1,
.emptyExample2,
.emptyExample3,
.emptyExample4{
  @include divStyle()
}

.imageContainer{
  @include componentContainer()
}
.imageExample1,
.imageExample2,
.imageExample3,
.imageExample4{
  @include divStyle()
}
.popoverContainer{
  @include componentContainer()
}

.popoverExample1,
.popoverExample2,
.popoverExample3,
.popoverExample4,
.popoverExample5{
  @include divStyle()
}
#components-popover-demo-placement .ant-btn {
  margin-left: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 70px;
  text-align: center;
  padding: 0;
}
#components-popover-demo-placement .ant-btn {
  margin-left: 8px;
  margin-right: 0;
}

.qrcodeContainer{
  @include componentContainer()
}

.qrcodeExample1,
.qrcodeExample2,
.qrcodeExample3,
.qrcodeExample4{
  @include divStyle()
}

.statisticsContainer{
  @include componentContainer()

}

.statisticsExample1,
.statisticsExample2,
.statisticsExample3,
.statisticsExample4{
  @include divStyle()

}

.statisticsExample4{
  width: 400px;
}

.tagContainer{
  @include componentContainer()
  
}

.tagExample1,
.tagExample2,
.tagExample3{
  @include divStyle()
}

.tagExample3{
  width: 350px;
}
.timelineContainer{
  @include componentContainer()

}

.timelineExample1,
.timelineExample2,
.timelineExample3{
  @include divStyle()

}

.tooltipContainer{
  @include componentContainer()

}

.tooltipExample1,
.tooltipExample2,
.tooltipExample3{
  @include divStyle()

}
.tooltipExample3{
  width: 600px;
}

.alertContainer{
  @include componentContainer()

}

.alertExample1,
.alertExample2,
.alertExample3,
.alertExample4,
.alertExample5,
.alertExample6{
  @include divStyle()

}

.alertExample3,
.alertExample5{
  width: 400px;
}

.drawerContainer{
  @include componentContainer()

}

.drawerExample1,
.drawerExample2,
.drawerExample3{
  @include divStyle()
}

.messageContainer{
  @include componentContainer()
}
.messageExample1,
.messageExample2,
.messageExample3{
  @include divStyle()

}

.modalContainer{
  @include componentContainer()

}

.modalExample1,
.modalExample2,
.modalExample3{
  @include divStyle()

}

.popconfirmContainer{
  @include componentContainer()
}
.popconfirmExample1,.popconfirmExample2,.popconfirmExample3
{
  @include divStyle()
}
.progressContainer{
  @include componentContainer()

}

.progressExample1,
.progressExample2,
.progressExample3,
.progressExample4,
.progressExample5{
  @include divStyle()
}

.resultContainer{
  @include componentContainer()

}
.resultExample1,
.resultExample2,
.resultExample3,
.resultExample4{
  @include divStyle();
  width:300px
}
.spinContainer{
  @include componentContainer();
}
.spinExample1,
.spinExample2,
.spinExample3,
.spinExample4{
  @include divStyle()
}
.spinExample2{
  height: 300px;
  width: 400px;
}
.content {
  padding: 50px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.affixContainer{
  @include componentContainer()
}
.affixExample1,
.affixExample2,
.affixExample3{
  @include divStyle()
}

.affixExample2{
  height: 150px;
}

#components-affix-demo-target .scrollable-container {
  height: 100px;
  overflow-y: scroll;
}
#components-affix-demo-target .background {
  padding-top: 60px;
  height: 300px;
  background-image: url('https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg');
}

.appContainer{
  @include componentContainer()
}
.appExample1{
  @include divStyle()
}

.floatButtonContainer{
  @include componentContainer()
}
.watermarkContainer{
  @include componentContainer()

}
.watermarkExample1,
.watermarkExample2,
.watermarkExample3{
  @include divStyle();
  width: 425px;


}

